.idea/
data/labeledPathBank/
data/labeledReactomeDevNoComplexes/
data/labeledReactomeNoComplexes/
databasePrediction/.snakemake/
databasePrediction/__pycache__/
databasePrediction/axRuns/
databasePrediction/data/data-is-unpacked.txt
databasePrediction/results/allRes.p
databasePrediction/runs/
databasePrediction/sk_runs/
databasePrediction/pgm_runs/
databasePrediction/torchDatasets/
caseStudy/data/
caseStudy/runs/
caseStudy/axRuns/
caseStudy/.snakemake/
caseStudy/__pycache__/
caseStudy/torchDatasets/
